/*@import url('https://fonts.googleapis.com/css?family=Oxygen:300');*/
html{
    background: inherit;
    height: 100%
}
body{
    /*font-family: 'Oxygen', sans-serif;*/
    z-index: 1;
    /*font-family: 'Ricardo Extra Light', sans-serif;*/
    /*font-family: 'Ricardo Semi Bold', sans-serif;*/
    font-family: 'Ricardo Regular', sans-serif;
    /*font-family: 'Ricardo Medium',sans-serif;*/

}
.grey{background-color: #556270;}
.white-font{color: #FCF9FC;}
.off-white-font{ color: #CCCCCC;}
.black-font{color: slategrey;}
.blue-font{color: #025D8C !important;}
.blue, .day{background-color: #025D8C; color: #FCF9FC;}
.blue .button:hover{    background: #025D9D;}
.red{background: #A40802; color: #eee;}
.button.red:hover{
    background: #8D0601;
}
.light-blue{background-color: #2A8FBD; color: #fff;}
.button.light-blue:hover{
    background: #257EA7;
}
.green{background: #06B083; color: #eee;}
.button.green:hover{
    background: #069D75;
}
.green:active {background-color: #047658;}
.nav{
    z-index: 3;
}
.button:active{
  border-color: transparent;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #ccc;
}
.media-content{
   padding: 6px 12px 10px 12px;
}
.media .media {
      padding: 0px;
}
.day{
    padding: 12px;
    padding-top: 0px;
    margin: 4px;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgba(17, 17, 0, .1), 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.log .media-content{
    background-color: rgba(155, 155, 155, 0);
    border-radius: 4px 4px 4px 4px;
    background-image: url('../images/paper_fibers.png');
    background-repeat: repeat;
    background-position: top;
    background-blend-mode: screen;
}
.log-overlay{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background: rgba(255, 255, 255, 0.0);
    color: rgba(50, 50, 50, 0.0);
    width: 100%;
    transition: all .125s ease;
    position: relative;
}
.log + .log{
    margin-top: 10px;
}
.day-header{
    justify-content: space-between;
    display: flex;
    align-content: center;
}
.client-name{
   font-size: 2.178em;
font-family: 'Ricardo Extra Light', sans-serif;
}
.day-date-title{
    color: #eee;
    font-weight: 500;
    padding: 10px;
}
.time-started-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #556270;
    margin: 0px;
    color: #eee;
    border-radius: 4px;
     font-size: 1.383em;
     padding: 5px;
}
.issue, .desc-container{
    font-size: 1.383em;
}
.desc-container{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 1px rgba(17, 17, 0, .1), 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.font{
    font-family: 'Ricardo Regular', sans-serif;
}
.work-duration-container{
    display: flex;
    flex-direction: row;
    color: slategray;
    font-size: 1em;
}

.logo{
    height: 100%;
}
.margin-auto-centered{
     margin-left: auto;
    margin-right: auto;
}
.index-body {
  background-color: #385D8A;
  border-radius: 3px;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  position: relative;
}
.log-form, .option-panel{
  z-index: 2;
  /*overflow: hidden;*/
  position: absolute;
  box-shadow: 0px 0px 1px rgba(17, 17, 0, .1), 0px 0px 1px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.option-panel{
    background-color: white;
    right: 0;
    border-radius: 4px;
}
.client-details-container{
    z-index: 2;
    /*box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);*/
}

.client-details-box{
    padding: 1.2rem;
    background: whitesmoke;
    z-index: 1;
}
.log-action-group{
   margin-left: auto;
   margin-top: auto;
   margin-bottom: auto;
}
.time-field{
        display: flex;
   -webkit-box-pack: start;
      -ms-flex-pack: start;
    justify-content: flex-start;
        -ms-flex-wrap: wrap;
      flex-wrap: wrap;
        margin-bottom: 5px;
}
#saved-indicator{
    margin-left: 15px;
}
#add-log-button{
    z-index: 3;
}
/*#modal-content{
    margin: 40px auto;
}
#modal-content:before{
    height: 100%;
    vertical-align: middle;
}*/
.down-arrow{
    display: block;
   float: right;
    cursor: pointer;
}
#down-arrow{
    -webkit-transition: all 0.125s ease-in-out;
    -moz-transition: all 0.125s ease-in-out;
    -o-transition: all 0.125s ease-in-out;
    transition: all 0.125s ease-in-out;
}
@media screen and (min-width: 999px){
    .index-form{
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 769px){
    .log-action-group .button{
        min-width: 105px;
    }
    .time-field .field{
       margin-right: 3px;
    }
    .log-form{
        left: .75em;
    }
    .option-panel{
        margin-right: .75rem;
    }
    .all-clients-modal{
        width: 769px;
    }
}
@media screen and (max-width: 768px) {
  .date {
      display: none;
  }
  .title{
      font-size: 1.6rem;
  }
  .subtitle{
      font-size: 1rem
  }
  .nav-right{
      justify-content: space-between;
  }
  .day-date-title{
    font-size: .95rem;
    padding: 5px;
}
}
@media screen and (max-width: 422px){
    .log-action-group .button{
    border-radius: 4px;
    font-size: 0.90rem;
    }
     .log-form .label{ 
    text-align: center;
}
}
.animated {
  animation-duration: .4s;
  animation-fill-mode: both;
}
.animated-second{
    animation-delay: .2s
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
  }

  to {
    transform: translate3d(0, 0, 0);
    
  }
}
.slideInDown {
  animation-name: slideInDown;
  animation-duration: .4s
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -120%, 0);
  }
}
.slideOutUp {
  animation-name: slideOutUp;
  animation-duration: .4s
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: .4s;
  animation-fill-mode: both;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-120%, 0, 0);
  }
}
.slideOutLeft {
  animation-name: slideOutLeft;
    animation-duration: .4s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  from {
    transform: translate3d(200%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  animation-name: slideInRight;
  animation-duration: .3s
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(150%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
  animation-duration: .3s
}
.spin-around{
    -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
}
.rotate{
  transform:rotate(180deg); 
    -webkit-transform:rotate(180deg); 
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg); 
}